:root {
  --primary: blue;
  --shadow: -5px 5px 10px 5px grey;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

.btn {
  background: orange;
  /* border: 1px solid orange; */
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  float: right;
}

/* ========== global  */
.global {
  background: rgb(255, 166, 0);
  padding: 10px 0;
}

.global > div {
  display: flex;
  justify-content: space-between;
}

/* ============== Header menu  */
header {
  background: var(--primary);
  color: white;
  padding: 10px 0;
}

header div {
  align-items: center;
}
.logo {
  width: 70px;
  height: 70px;
  background: white;
  color: var(--primary);
  font-weight: bolder;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo div {
  border: 3px dotted var(--primary);
  width: 60px;
  height: 60px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-left: 16px;
}

header ul li:hover {
  background: red;
  cursor: pointer;
  transform: scale(1.5);
}

/* ======== hero  */
.hero {
  height: 60vh;
  /* background-color: red;
  background-image: url(./img/hero.jpg);
  background-size: cover; */
  background: red url(./img/pexels-christian-heitz-842711.jpg) no-repeat center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background: rgba(0, 0, 0, 0.709);
  color: white;
  width: 400px;

  padding: 32px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.hero-content hr {
  width: 100%;
}

/* ============= latest post  */
.main {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.articles {
  width: 66%;
}

article {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 20px 16px;
  margin-top: 24px;
}

.art-img {
  width: 350px;
}

article .title {
  color: var(--primary);
  font-weight: bolder;
  font-size: 24px;
}

.side-links {
  width: 34%;
}

.country {
  background: rgba(153, 205, 50, 0.625);
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 10px;
}

.date {
  background: rgba(255, 255, 0, 0.484);
  padding: 16px;
  border-radius: 10px;
}
/* ========== footer  */
.footer {
  background: black;
  color: white;
  padding: 64px;
  text-align: center;
  margin-top: 32px;
}

/* ====== recc */
.recc {
  background: rgba(255, 251, 0, 0.587);

  margin-top: 32px;
  padding: 32px 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-around;
}

.card {
  width: 350px;
  box-shadow: var(--shadow);
  background: white;
  padding-bottom: 32px;

  border-radius: 10px;
  flex-grow: 1;
}

.card img {
  border-radius: 10px 10px 0 0;
}

.card-btn {
  background: orangered;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.btn:hover,
.card-btn:hover {
  cursor: pointer;
}

/* ========= sub  */
.subs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subs input {
  line-height: 42px;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 5px 10px;
}

/* ==========media queries========= */

/* 0-600px = mobile */
/* @media (max-width: 600px) {
  .global {
    background: rgb(198, 160, 89);
    /* display: none; */

/* large monitor or TV 992px + >
@media (min-width: 992px) {
  header {
    background: rgb(55, 255, 0);
  }
} */

/* @media (600px < width < 992px) {
  header {
    background: rgb(255, 0, 217);
  }
} */

/* @media (max-width: 920px) {
  .global {
    background: rgb(248, 235, 3);
    display: none;
  }
} */

/* 600-900px for ipads */

@media (max-width: 992px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .articles {
    width: 100%;
  }

  .side-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 50px;
  }

  .country,
  .date {
    flex-grow: 1;
  }

  .country {
    margin-bottom: 0;
  }
}

/* 600 - mobile screen  */
@media (max-width: 600px) {
  .articles article {
    display: flex;
    flex-direction: column;
  }

  .art-img {
    width: 100%;
  }

  .side-links {
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form input {
    margin-top: 5px;
  }

  .forms input:last-child {
    background-color: red;
    color: white;
  }
}
